body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  nav {
    background: linear-gradient(to right, #512D6D, #9A3888);
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  a:hover {
    background: linear-gradient(to right, #9A3888, #512D6D);
  }

  .main-body, .URL-enter, .submit, .answer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #512D6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #9A3888;
  }
  
  .answer {
    text-align: center;
  }
  
  .answer-title {
    font-size: 24px;
    margin: 20px 0;
    color: #512D6D;
  }